<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div> 
        <h2>kioski</h2>
        <p>cart <span id="count"></span></p>
    </div>
    <div class="body-content">
        <h4>Meals</h4>
        <div class="meals">
            <div>
                <img src="" alt="">
                <p>Chapati: Ksh. <span>19</span></p>
                <button id="chapati">cart</button>
            </div>
            <div>
                <img src="" alt="">
                <p>Rice : Ksh. 47</p>
                <button id="Rice">cart</button>
            </div>
            <div>
                <img src="" alt="">
                <p>Pilau : Ksh. 65</p>
                <button id="Pilau">cart</button>
            </div>
        </div>
        <button>cart <span id="items"></span></button>
    </div>


    <script src="app.js"></script>
</body>
</html>