<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="1000">
        <img src="tuzo.jpg" alt="unga" srcset="">
        <p>Tuzo fresh mik, 500ml</p>
        <p>Ksh. <span>20</span></p>
        <button>Buy</button>
    </div>
    <div id="1001">
        <img src="tuzo.jpg" alt="unga" srcset="">
        <p>Tuzo fresh mik, 500ml</p>
        <p>Ksh. <span>20</span></p>
        <button>Buy</button>
    </div>
    <section id="1003">
        <img src="tuzo.jpg" alt="unga" srcset="">
        <p>Tuzo fresh mik, 500ml</p>
        <p>Ksh. <span>20</span></p>
        <button>Buy</button>
    </section>
</body>
</html>